<style media="screen">
  .footer{
    width: 100%;
    background-color: powderblue;
    text-align: center;
  }
</style>

<footer>
  <p class="footer">Created by Me - Copyright {{getCurrentYear}}</p>
</footer>
