<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node Course - Module 3</title>
  </head>
  <body>
    {{> header}}
    <p>Wabba labba du-dub-duh</p>

    {{> footer}}
  </body>
</html>
